<div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; margin-top: 20px;">
  <%= link_to "Usuarios", usuarios_path, class: "boton-inicio" %>
  <%= link_to "Autores", autors_path, class: "boton-inicio" %>
  <%= link_to "Categorías", categoria_path, class: "boton-inicio" %>
  <%= link_to "Libros", libros_path, class: "boton-inicio" %>
  <%= link_to "Préstamos", prestamos_path, class: "boton-inicio" %>
  <%= link_to "Reseñas", resenas_path, class: "boton-inicio" %>
</div>
